@import url('https://fonts.cdnfonts.com/css/ds-digital');

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Silkscreen", sans-serif;
}

.container {
    background-color: rgb(27, 56, 9);
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

#gamearea {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 4px;
    width: calc(50vh - 1px);
    box-sizing: border-box;
    background-color: rgb(107 143 84);
    padding: 4px;
}

.cell {
    font-size: 5px;
    background-color: rgb(85, 122, 61);
    aspect-ratio: 1 / 1;
    padding: 5px;
    border-radius: 0px;
    box-sizing: border-box;
    text-align: center;
    transform: scale(0.8);
    transition: 0.1s;
}

.active, .fixed {
    background-color: rgb(21, 39, 11);
    transform: scale(1);
    border-radius: 4px;
}

#control {
    opacity: 0;
    position: fixed;
}

#scoreBoardHolder {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5vw;
    margin: 2vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.score-heading {
    font-size: 12px;
}

#score {
    font-size: 40px;
    text-align: center;
    font-family: "Silkscreen", sans-serif;
}

/* tutorial */

.tutorial-box {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 100%;
    padding: 7vw;
    display: flex;
    flex-direction: column;
    z-index: 5;
    transform: translate(0, -50%);
    top: 50%;
    font-family: "Silkscreen", sans-serif;
    color: white;
}

.tutorial-box .tutorial-heading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
}

.tutorial-box .tutorial-element {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tutorial-box .tutorial-element .tutorial-btn {
    padding: 15px;
    min-width: 20px;
    text-align: center;
    background-color: azure;
    color: black;
    border: 3px groove black;
    margin-left: 30%;
}
.tutorial-box .tutorial-element .tutorial-message {
    margin-right: 30%;
}

.game-start-btn {
    margin-right: 40%;
    margin-left: 40%;
    padding: 15px;
    font-family: "Silkscreen", sans-serif;
    font-size: 25px;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    transition: 0.3s;
    min-width: 200px
}
.game-start-btn:hover {
    color: black;
    background-color: azure;
}

/* game over popup */

.game-over-popup{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 100%;
    padding: 7vw;
    display: flex;
    flex-direction: column;
    z-index: 5;
    transform: translate(0, -50%);
    top: 50%;
    font-family: "Silkscreen", sans-serif;
    color: white;
}
.game-over-heading {
    text-align: center;
    margin-bottom: 5vw;
}
.play-again-btn {
    margin-right: 30%;
    margin-left: 30%;
    padding: 15px;
    font-family: "Silkscreen", sans-serif;
    font-size: 25px;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    transition: 0.3s;
}
.play-again-btn:hover {
    color: black;
    background-color: azure;
}