* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(27, 56, 9);
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#gamearea {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 4px;
    width: calc(50vh - 1px);
    box-sizing: border-box;
    background-color: rgb(107 143 84);
}

.cell {
    font-size: 5px;
    background-color: rgb(107 143 84);
    aspect-ratio: 1 / 1;
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.active {
    background-color: rgb(21, 39, 11);
}

#control {
    opacity: 0;
    position: fixed;
    cursor: default;
}